NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
OPENROUTER_API_KEY=""
REDIS_URL=""
SUPABASE_PROJECT_ID=""
SUPABASE_SERVICE_ROLE_KEY="" # server-only, never expose to client